<div class="header">
    <h1 class="title">{{site.data.data.name}}</h1>
    {% if site.data.data.support_dark_mode%}
      <input type="checkbox" id="switch" name="mode" class="toggle-dark"></input>
      <label for="switch"><i id="moon" data-feather="moon" fill="var(--fg-color)"></i></label>
    {%endif%}
    <div id="language-toggle" onclick="changeLanguage()">change language</div>

<script>
// Definiere die Funktion im globalen Kontext
function changeLanguage() {
    alert("Hallo von changeLanguage");
}
</script>

  </div>
  <style>
#language-toggle {
    color:blue;
    font-weight:bold;
    background-color:white;
    cursor: pointer;
}

#language-toggle:hover {
    color: green;
    background-color: black;
}
</style>

