{% assign data = site.data.data %}
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {{content}}
</body>
{% include scripts.html %}
</html>

<html>
<head>
    <!-- Add necessary CSS and JavaScript libraries -->
    <link rel="stylesheet" href="path/to/localetoggle.css">
    <script src="path/to/jquery.min.js"></script>
    <script src="path/to/localetoggle.js"></script>
</head>
<body>
    <div id="language-toggle">
        <a href="#" id="en">English</a>
        <a href="#" id="de">Deutsch</a>
    </div>
    {{ content }}
</body>
</html>
